<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="Id" >
    <th mat-header-cell *matHeaderCellDef> Id
    </th>
    <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element; let i = index" (click)="click(element.Id)">{{ element.Name }}</td>
  </ng-container>

  <ng-container matColumnDef="Mnemonic">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mnemonic</th>
    <td mat-cell *matCellDef="let element">{{ element.Mnemonic }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
